@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/raleway/v29/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrE.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@keyframes bg{
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(255,102,102);
    background: linear-gradient(16deg, rgba(255,102,102,1) 21%, rgba(93,46,140,1) 100%);
    background-size: 200% 200%;
	height: 100vh;
    animation:  bg 30s infinite linear;
}

.music_player{
	color: aliceblue;
	font-family: "Raleway";
	margin: auto;
	margin-top: 150px;
	padding-top: 20px;
	width: 250px;
	height: 400px;
	background-color: rgba(3, 24, 43, 0.753);
	border-radius: 10px;
}

.music_player .music_cover{
	width: 200px;
	display: block;
	height: 200px;
	border-radius: 10px;
	border: 1px solid rgba(143, 143, 143, 0.637);
	margin: auto;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}

.music_player .music_title{
	text-align: center;
	margin-top: 15px;
	font-size: 20px;
	font-weight: 600;
}

.music_player .music_artist{
	text-align: center;
	font-size: 12px;
	margin-top: 5px;
	font-weight: lighter;
}

.music_player .music_controller{
	filter: brightness(5);
	text-align: center;
	margin-top: 30px;
}

.music_player .music_controller img{
	width: 50px;
	cursor: pointer;
}

#music_timeline_background{
	width: 80%;
	height: 5px;
	margin: auto;
	margin-bottom: 20px;
	border-radius: 10px;
	background-color: rgba(224, 224, 224, 0.39);
	cursor: pointer;
}

#music_timeline{
	width: 50%;
	height: 100%;
	background-color: white;
	border-radius: 10px;;
}